@page "/dashboard"
@layout EuroTrail.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

@code {
    private bool isLoggedIn;
    private EuroTrail.Models.User? currentUser;

    protected override Task OnInitializedAsync()
    {
        isLoggedIn = EuroTrail.Services.Session.GetInstance().IsLoggedIn();

        if (!isLoggedIn)
        {
            NavigationManager.NavigateTo("/login");
            return Task.CompletedTask; 
        }

        currentUser = EuroTrail.Services.AuthService.GetCurrentUser();
        return Task.CompletedTask; 
    }
}

<div>
    <div class="text-slate-50 mt-10">
        <h1>Welcome back, @currentUser?.Name</h1>
    </div>
    <div class="flex flex-col mt-8">
        <h1 class="text-slate-50 text-bold">@currentUser?.Name</h1>
        <span class="text-sm text-slate-300 mt-3">@currentUser?.Email</span>
        <span class="text-sm text-slate-300">@currentUser?.Phone</span>
    </div>

    <div class="flex flex-col mt-8">
        <h1 class="text-slate-50 text-bold">@currentUser?.Currency @currentUser?.Wallet</h1>
        <span class="text-sm text-slate-300 mt-3">Joined on @currentUser?.CreatedAt.ToString("MMM dd, yyyy")</span>
    </div>

    <div class="flex flex-row mt-12 w-full">
        <button class="rounded-md bg-green-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-green-700 focus:shadow-none active:bg-green-700 hover:bg-green-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none w-full" type="button">
            Add Saving
        </button>
        <button class="rounded-md bg-orange-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-orange-700 focus:shadow-none active:bg-orange-700 hover:bg-orange-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2 w-full" type="button">
            Add Expense
        </button>
        <button class="rounded-md bg-red-800 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2 w-full" type="button">
            Add Debt
        </button>
    </div>
</div>