@page "/about"
@layout EuroTrail.Components.Layout.AuthLayout

<div class="flex justify-center items-center flex-col gap-2 h-screen bg-gray-950"> 
    <div class="flex flex-col items-center gap-2">
        <svg class="h-10 w-10" viewBox="0 0 220 200" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M133.384 17.4786C135.223 18.3516 137.365 20.0386 138.144 21.2286C141.437 26.2566 208.844 175.179 208.844 177.427C208.844 178.783 207.944 180.793 206.844 181.893C204.935 183.802 203.511 183.893 175.421 183.893H145.997L143.032 181.398C141.401 180.025 138.783 175.956 137.214 172.355L134.362 165.808L125.353 166.451C109.61 167.574 91.5634 163.79 76.4694 156.199C72.6884 154.298 69.2834 153.114 68.9024 153.568C68.5214 154.022 65.5794 160.128 62.3634 167.137C59.1474 174.145 55.6444 180.67 54.5784 181.637C52.9184 183.141 50.1524 183.438 35.3064 183.707C18.9044 184.004 17.8604 183.909 15.9084 181.957C14.7734 180.822 13.8444 178.735 13.8444 177.319C13.8444 175.903 18.9884 163.513 25.2764 149.784L36.7074 124.824L31.1864 117.128C19.9704 101.496 13.2164 83.7846 12.1494 67.2086C11.1554 51.7576 15.1354 38.5246 23.7034 28.7896C29.7854 21.8806 37.2294 18.5176 50.8444 16.5296C53.3445 16.1645 70.6014 16.1036 91.6934 16.0286C124.827 15.9116 130.496 16.1086 133.384 17.4786ZM44.4734 25.6386C37.4864 27.9666 29.8284 35.3246 26.3004 43.1016C18.8864 59.4436 23.6934 86.0546 37.8164 106.852L42.0374 113.068L56.5734 81.2306C64.5684 63.7196 71.7944 48.6046 72.6324 47.6426C75.9394 43.8406 79.1994 45.3296 91.7254 56.3696C103.76 66.9766 104.844 68.2906 104.844 72.2786C104.844 73.5006 98.0794 89.2896 89.8104 107.367C78.7504 131.548 75.1084 140.438 76.0324 141.009C76.7224 141.435 80.4494 142.806 84.3154 144.055C98.3514 148.588 112.384 146.571 121.28 138.74C127.385 133.367 130.576 127.665 132.468 118.752C139.721 84.5876 108.637 37.2976 71.4894 25.9806C63.1724 23.4476 51.4954 23.2996 44.4734 25.6386Z" fill="white"/>
        </svg>
        <h1 class="mt-2 text-xl font-bold text-white">EuroTrail About</h1>
    </div>
</div>

<footer class="absolute bottom-8 text-white text-xs text-center w-full">
    &copy; @DateTime.Now.Year EuroTrail. All rights reserved.
</footer>

<script>
    setTimeout(function() {
        window.location.href = '/login';
    }, 1500);
</script>